/* @tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background: #0a0a0f;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #111118;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
} */
@import "tailwindcss";